body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0066cc;
  padding: 10px 20px;
  color: white;
}

.logo {
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 5px;
}

/* Account */
.account {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5vh;
}

.avatar {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
}

/* House Detail Section */
.house-detail {
  background: white;
  margin: 15vh auto;
  padding: 30px;
  width: 90%;
  max-width: 1200px;
  border-radius: 15px;
  display: flex;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
}

/* House Image */
.house-image {
  flex: 3; /* BIGGER now */
  display: flex;
  justify-content: center;
}

.house-image img {
  width: 100%;
  max-width: 100%; /* increase image max width */
  border-radius: 15px;
  object-fit: cover;
}

/* House Info */
.house-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center; /* This keeps it centered inside */
  margin-top: 15px; /* <-- move it downward more */
}

.house-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 4rem;
  font-weight: 700;
}

.house-info p {
  margin: 8px 0;
  font-size: 1.1rem;
}

.house-info p strong {
  font-weight: bold;
}

.price {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #66ccff; /* light blue */
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.buyButton {
  margin-top: 25px;
  padding: 10px 100px;
  background-color: #66CCFF; /* orange */
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 0px solid #007acc; 
  flex: flexbox;
}