body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0066cc;
    padding: 1vh .5vh;
    color: white;
  }
  
  .logo {
    width: 5vh;
    height: 5vh;
    background: rgb(255, 255, 255);
    border-radius: .5vh;
    margin-left: 4vh;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
  }
  
  .search-bar button {
    background: none;
    border: none;
    font-size: 16px;
  }
  
  .nav-buttons{
    background-color: #0093CB;
    border-radius: .5vh;
    padding: .6vh;
    display: flexbox;
    flex-direction:row;
  }

  .nav-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background: #0093CB;
    display: flexbox;
    cursor: pointer;
  }
  
  .nav-buttons .tab .active {
    background: white;
    padding-top: 1vh;
    color: #0066cc;
    font-weight: bold;
  }
  
  .account {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-right: 5vh;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
  }
  
  .filters button {
    padding: 10px 15px;
    border: none;
    background: #0096e5;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .property-grid {
    margin-left: 25vh;
    margin-right: 25vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22vh, 1fr));
    gap: 20px;
    padding: 0 30vh 50vh;
  }
  
  .property-card {
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
    height: auto;
  }
  
  .property-card:hover {
    transform: scale(1.02);
  }
  
  .property-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
  }
  
  .property-info {
    padding: 1rem;
    background: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .property-info h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .property-info .price {
    color: #007bff;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .divider {
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin: 8px 0;
  }
  

  
  .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  

  .tab {
    background-color: #0093CB;
    color: white;
  }
  
  .tab.active {
    background-color: white;
    color: #0066cc;
    font-weight: bold;
  }